name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-15
    strategy:
      matrix:
        xcode:
        - '16.4' # Swift 6.1
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: xcodebuild clean build -scheme HorizonCalendar -destination "generic/platform=iOS Simulator"
      - name: Run tests
        run: xcodebuild clean test -project HorizonCalendar.xcodeproj -scheme HorizonCalendar -destination "name=iPhone 16"

  lint-swift:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint Swift
        run: swift package --allow-writing-to-package-directory format --lint
